service: sparcs-auth-service

custom:
  projectName: sparcs-events
  serviceName: auth
  stage: ${opt:stage, self:provider.stage}
  entities: ${self:custom.stage}-${self:custom.projectName}-entities
  emailQueue: !ImportValue EmailQueue-${self:custom.stage}
  frontendUrl: ${ssm:/techtix/frontend-url-${self:custom.stage}}
  signinCallback: ${ssm:/techtix/cognito-signin-redirect-${self:custom.stage}}
  createApiGatewayRole: ${env:CREATE_API_GW_ROLE, 'true'}
  pythonRequirements:
    dockerizePip: non-linux
    noDeploy:
      - requests
      - boto3
      - botocore
    layer:
      name: ${self:custom.projectName}-${self:custom.serviceName}-${self:custom.stage}-python-requirements
      compatibleRuntimes:
        - python3.8
    slim: true

package: ${file(resources/package.yml)}

provider:
  name: aws
  runtime: python3.8
  stage: dev
  region: ap-southeast-1
  memorySize: 256
  versionFunctions: false
  timeout: 30
  apiGateway:
    resourcePolicy:
      - Effect: Allow
        Action: execute-api:Invoke
        Principal: "*"
        Resource: execute-api:/*/*/*
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:custom.stage}
    ENTITIES_TABLE: ${self:custom.entities}
    EMAIL_QUEUE: ${self:custom.emailQueue}
    FRONTEND_URL: ${self:custom.frontendUrl}
  logs:
    restApi:
      role: !GetAtt ApiGatewayCloudWatchRole.Arn

resources:
  - ${file(resources/cognito.yml)}
  - Resources:
      ApiGatewayCloudWatchRole:
        Type: AWS::IAM::Role
        Properties:
          RoleName: serverlessApiGatewayCloudWatchRole-${self:custom.serviceName}-${self:custom.stage}
          AssumeRolePolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Principal:
                  Service: apigateway.amazonaws.com
                Action: sts:AssumeRole
          Policies:
            - PolicyName: AllowCloudWatchLogs
              PolicyDocument:
                Version: "2012-10-17"
                Statement:
                  - Effect: Allow
                    Action:
                      - logs:CreateLogGroup
                      - logs:CreateLogStream
                      - logs:DescribeLogGroups
                      - logs:DescribeLogStreams
                      - logs:PutLogEvents
                    Resource: "*"
    Outputs:
      ApiGatewayCloudWatchRoleArn:
        Value: !GetAtt ApiGatewayCloudWatchRole.Arn
        Export:
          Name: ApiGatewayCloudWatchRole-${self:custom.serviceName}-${self:custom.stage}

functions:
  - ${file(resources/api.yml)}

plugins:
  - serverless-better-credentials
  - serverless-python-requirements
  - serverless-iam-roles-per-function
