service: durianpy-auth-service

custom:
  projectName: durianpy-events
  serviceName: auth
  stage: ${opt:stage, self:provider.stage}
  entities: ${self:custom.stage}-${self:custom.projectName}-entities
  emailQueue:
    !ImportValue EmailQueue-${self:custom.stage}
  frontendUrl:
    dev: ${ssm:/techtix/frontend-url-dev}
    staging: ${ssm:/techtix/frontend-url-staging}
    prod: ${ssm:/techtix/frontend-url-prod}
  createApiGatewayRole: ${env:CREATE_API_GW_ROLE, 'true'}
  pythonRequirements:
    dockerizePip: non-linux
    noDeploy:
      - requests
      - boto3
      - botocore
    layer:
      name: durianpy-auth-${self:custom.stage}-python-requirements
      compatibleRuntimes:
        - python3.8
    slim: true

package: ${file(resources/package.yml)}

provider:
  name: aws
  runtime: python3.8
  stage: dev
  region: ap-southeast-1
  memorySize: 256
  versionFunctions: false
  timeout: 30
  apiGateway:
    resourcePolicy:
      - Effect: Allow
        Action: execute-api:Invoke
        Principal: "*"
        Resource: execute-api:/*/*/*
  environment:
    REGION: ${self:provider.region}
    STAGE: ${self:custom.stage}
    ENTITIES_TABLE: ${self:custom.entities}
    CLIENT_SECRET_NAME: durianpy-auth-secret-key-${self:custom.stage}
    EMAIL_QUEUE: ${self:custom.emailQueue}
    FRONTEND_URL: ${self:custom.frontendUrl.${self:custom.stage}}
  logs:
    restApi: true

resources:
  - ${file(resources/cognito.yml)}
  - Resources:
      ApiGatewayCloudWatchRole:
        Type: AWS::IAM::Role
        Condition: ShouldCreateApiGatewayCloudWatchRole
        Properties:
          RoleName: serverlessApiGatewayCloudWatchRole
          AssumeRolePolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Principal:
                  Service: apigateway.amazonaws.com
                Action: sts:AssumeRole
          Policies:
            - PolicyName: AllowCloudWatchLogs
              PolicyDocument:
                Version: "2012-10-17"
                Statement:
                  - Effect: Allow
                    Action:
                      - logs:CreateLogGroup
                      - logs:CreateLogStream
                      - logs:DescribeLogGroups
                      - logs:DescribeLogStreams
                      - logs:PutLogEvents
                    Resource: "*"
    Conditions:
      ShouldCreateApiGatewayCloudWatchRole:
        Fn::Equals:
          - "true"
          - ${self:custom.createApiGatewayRole}


functions:
  - ${file(resources/api.yml)}

plugins:
  - serverless-better-credentials
  - serverless-python-requirements
  - serverless-iam-roles-per-function
